<% provide(:title, "Sign in") %>
<h2>Sign in</h2>


  <div>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %></br></br>

      <%= f.submit "Sign in", class: "btn" %>
    <% end %>

    <span class="left">New consultant? <%= link_to "Sign up now!", signup_path %></span>
  </div>